.Footer{
    padding: 25px 0px 25px 0px;
    width: 100%;
    background-color:black;
}
.Footer_container{
    max-width: 1400px;
    margin: 0 auto;
}
.Footer_links{
    margin-top: 25px;
    color: white;
}
.Footer_link{
    margin: 0px 25px 0px 25px;
    font-size: 18px;
    cursor: pointer;
}

.Footer_copyright{
    margin-top: 35px;
    color: white;
}

.Footer_copyright_text{
    margin-top: 5px;
    font-size: 10px;
}